body{
    width: 100%;
    height: 500px;
    background: #3c3636;
}
.Header{
    width: 90%;
    height: 60px;
    background: #f5f3f3;
    padding: 10px;
    margin: 40px;
}
.A{
   width: 90%;
   height: 30px;
   background: #0a8c1a;
   padding: 10px;
    margin: 40px;
    color: beige;
}
.B{
    width: 90%;
    height: 30px;
    background: #37c240;
    padding: 10px;
     margin: 40px;
     color: beige;
}
.C{
    width: 90%;
    height: 30px;
    background: #65de6b;
    padding: 10px;
     margin: 40px;
     color: beige;
}
.D{
    width: 90%;
    height: 30px;
    background: #57d462;
    padding: 10px;
     margin: 40px;
     color: beige;
}
.E{
    width: 90%;
    height: 30px;
    background: #6cef84;
    padding: 10px;
     margin: 40px;
     color: beige;
}
.F{
    width: 90%;
    height: 30px;
    background: #5cb371;
    padding: 10px;
     margin: 40px;
     color: beige;
}
.G{
    width: 90%;
    height: 30px;
    background: #93e890;
    padding: 10px;
     margin: 40px;
     color: beige;
}
.H{
    width: 90%;
    height: 30px;
    background: #5e236d;
    padding: 10px;
     margin: 40px;
     color: beige;
}
.I{
    width: 90%;
    height: 30px;
    background: #e354b8;
    padding: 10px;
     margin: 40px;
     color: beige;
}
.J{
    width: 90%;
    height: 30px;
    background: #ea5bbd;
    padding: 10px;
     margin: 40px;
     color: beige;
}
.K{
    width: 90%;
    height: 30px;
    background: #ec41d6;
    padding: 10px;
     margin: 40px;
     color: beige;
}
.L{
    width: 90%;
    height: 30px;
    background: #c505a8;
    padding: 10px;
     margin: 40px;
     color: beige;
}
.M{
    width: 90%;
    height: 30px;
    background: #df09d1;
    padding: 10px;
     margin: 40px;
     color: beige;
}
.N{
    width: 90%;
    height: 30px;
    background: #cd05ab;
    padding: 10px;
     margin: 40px;
     color: beige;
}